html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #413D3A; /* #444;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Will push the footer at the bottom of the page */
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 56px;
	min-height: 100%;
	width: 100%;
}

img {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.container, section.about {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

section .container {
	padding: 10px;
}

* {
	box-sizing: border-box;
}