#footer {
  color: #D0D0D0;
  background-color: #413D3A; /*#2F2F2F; */
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

#footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -ms-flex-align: stretch;
}

.link {
  color: #CAC7C7; /* #D0D0D0; */
  text-decoration: underline;
}