html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Will push the footer at the bottom of the page */
body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: justify;
	    justify-content: space-between;
}

img {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.container, section {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

* {
	box-sizing: border-box;
}

.header__3QGkI {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: #673AB7;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.header__3QGkI div {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	    flex-direction: row;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	-ms-flex-align: stretch;
	    align-items: stretch;
}

.header__3QGkI div h1 {
	display: inline-block;
	margin: 0px;
	padding: 0 15px;
}

.header__3QGkI div h1 a {
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: #FFF;
}

.header__3QGkI div nav {
	display: inline-block;
	color: white;
	font-size: 100%;
}

.header__3QGkI div nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
}

.header__3QGkI div nav a:hover,
.header__3QGkI div nav a:active {
	background: rgba(0,0,0,0.2);
}

.header__3QGkI div nav a.active__3gItZ {
	background: rgba(0,0,0,0.4);
}

#footer__14P9B {
  color: #D0D0D0;
  background-color: #2F2F2F;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

#footer__14P9B div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: stretch;
}

.link__y-LUv {
  color: #D0D0D0;
  text-decoration: underline;
}
.home__MseGd {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.about__3Ycn6 {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.beatmaps__1M-16 {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.left__2-mNf {
	float: left;
	width: 30%;
	padding-top: 12px;
	/* margin-right: 70%; */
	margin-top: 30px;
	height: 1.2em;
}

.searchbar__1DUk_ {
	width: 90%;
	height: 30px;
	border-radius: 7px;
}

.right__q82uz {
	padding-top: 30px;
	float: right;
	padding: 20px;
	width: 70%;
}

.row__2TdKT:after {
	content: "";
  display: table;
  clear: both;
}

.slider__3EoQj {
	width: 90%;
	padding: 10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 25% 65% 10%;
}

.value__3eSrR {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
}

.features__27_fL {
	margin: 10px;
	width: 90%;
	background-color: #E8E8E8;
	border-radius: 10px;
}

.info__1mSP9 {
	margin: 10px;
	width: 90%;
	padding: 5px;
}

/*# sourceMappingURL=ssr-bundle.5d9e0.css.map*/